body {
    background-color: #F0F7FA;
    /* background-color: black; */
    color: #333333;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}
.carousel-indicators li {
    background-color: #B7D8D2;   
}
.carousel-indicators .active {
    background-color:#7FBAAB;
}
.carousel-caption {
    font-size: 2rem;
}
.posleft {
    left: 15%;
    text-align: left;
    right: auto;
}
.posright {
    right: 15%;
    text-align: right;
    left: auto;
}
.link1:hover {
    border-bottom: 3px #28805E solid;
}
.card {
    background-color: #F0F7FA;
    border: none;
}
.card img {
     height: 300px;
     margin-bottom: 7px;
     filter: brightness(40%);
}
.prop .card img {
    height: 270px;
    filter: brightness(100%);
}
nav {
     height: 100px;
     font-size: 18px;
     padding-left: 568px !important; 
     margin-bottom: 50px;   
     background-color: #F0F7FA;
}
.paragraph {
     line-height: 32px;
}
.card-body a {
     padding-right: 2px;
     margin-bottom: 6px;
}
#title2 {
     font-weight: 150;
     text-align: center;
     color: #103152;
}
.top li {
     padding-right: 15px;
     color: #28805E;
}
.foot {
     color: #28805E;
}
a {
    text-decoration: none;
}
.top li a {
    color: #333333;
    display: inline-block;
    position: relative;
    

}
a:link {
    color: #28805E;
  }
a:visited {
    color: #28805E;
  }
.top li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background:  #28805E;
    transition: width 1s ease 0s, left 1s ease 0s;
    width: 0;
}
.top li a:hover:after {
    color: #28805E;
    width: 100%;
    left: 0%;
  }
.top li a:hover {
    color: #28805E;
}
a:active {
    color: #28805E;
  }
.button1 {
    font-size: 1.8rem;
    height: auto;
    width: auto;
    padding: 0 50px 0 50px;
    color: #28805E;
    border-radius: 0%;
    outline: 0 none;
    margin-bottom: 75px;
}
.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open>.dropdown-toggle.btn-light {
    color: #28805E;
    outline: 0 none;
    box-shadow: none;
}
.button2 {
    color: #28805E;
    border-radius: 0%;
    border-color: #28805E;
    outline: 0 none;
}
.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active, .btn-outline-success.active, .open>.dropdown-toggle.btn-outline-success {
    background-color: #28805E;
    color: #fff;
    outline: 0 none;
    box-shadow: none;
}
@media screen and (max-height: 300px) {
ul {
        margin-top: 40px;
}
