body {
    background-color: #F0F7FA;
    /* background-color: black; */

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}
.carousel-indicators li {
    background-color: #B7D8D2;   
}
.carousel-indicators .active {
    background-color:#7FBAAB;
}
.card {
    background-color: #F0F7FA;
    border: none;

 }
 .card img {
     height: 220px;
     margin-bottom: 7px;
 }

 nav {
     height: 100px;
     font-size: 2rem;
     padding-left: 700px !important; 
     margin-bottom: 50px;   
     background-color: #F0F7FA;
 }
 .paragraph {
     line-height: 32px;
 }
 .card-body a {
     padding-right: 2px;
     margin-bottom: 6px;
 }
 #title2 {
     font-weight: 150;
     text-align: center;
 }