body {
    background-color: #F0F7FA;
    /* background-color: black; */
    font-family: 'Lora', serif;
    font-family: 'Karla', sans-serif;
    /* font-family: sans-serif, Times, serif; */
    font-size: 1.2rem;
    color: #222222;
    background-image: url(Asset/images/bg9.jpg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.bodyimg {
    height: 600px;
    width: 100%;
    position: fixed;
    z-index: -1;
}
.bodyimg img {
    width: 100%;
    height: 100%;
    filter: brightness(60%);
}
#space1 {
    height: 200px;
    width: 100%;
}
.body1 {
    width: 100%; 
    background-color: #F0F7FA; 
    padding: 3% 10% 3% 16%; 
    line-height: 32px;
}
.body2 {
    width: 100%; 
    background-color: #F0F7FA; 
    padding: 3% 10% 3% 16%;
}
.body2 #h1 {
    font-size: 3rem;
    font-family: 'Lora', serif;
}
.body2 p {
    font-size: 1.25rem;
    line-height: 36px;
}
.body1a img {
    width: 60%;
    height: 10%;
}
.carousel-indicators li {
    background-color: #B7D8D2;   
}
.carousel-indicators .active {
    background-color:#7FBAAB;
}
.carousel-caption {
    font-size: 2rem;
}
.posleft {
    left: 15%;
    text-align: left;
    right: auto;
}
.posright {
    right: 15%;
    text-align: right;
    left: auto;
}
.carousel-item .card, .container2 .card, .paragraph .card {
    background-color: #F0F7FA;
    border: none;
    box-shadow: 10;
}
.carousel-item .card img, .container2 .card img, .paragraph .card img {
     height: 300px;
     margin-bottom: 7px;
     filter: brightness(40%);
}
#prop .card img {
    box-shadow: 0 2px 5px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.16);
    height: 270px;
    filter: brightness(100%);
}
.container2 img {
    box-shadow: 0 2px 5px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.16);
}
.container2 img:hover {
    box-shadow: 0 8px 15px rgba(0,0,0,0.13), 0 6px 6px rgba(0,0,0,0.15);
}
nav {
     height: 6.2rem;
     font-size: 1.1rem;  
     background-color: #F0F7FA;
}
.paragraph {
     line-height: 32px;
}
.card-body a {
    color: #28805E;
    padding-right: 2px;
    margin-bottom: 6px;
}
.card-body a i:hover {
    transform: scale(1.1,1.1);
    transition: .2s ease;
    color: #074346;
}
#title2 {
     font-weight: 150;
     text-align: center;
     color: #172A3A;
}
a:link {
    color: #28805E;
  }
a:visited {
    color: #28805E;
  }
a:hover {
    text-decoration: underline;
    text-decoration-color: #074346;
    text-decoration-thickness: 2px;
    transform: scale(1.1,1.1);
    transition: .2s ease;
    color: #074346;
}
#title3 {
    text-align: center;
    font-size: 2rem; 
    color: #103152;
}
#title3:visited {
    color: #103152;
  }
#title3:hover {
    text-decoration: none;
    text-decoration-thickness: 3px;
    transform: scale(1,1);
    transition: 0s;
    color: #103152;
}
.nav1 {
    letter-spacing: 0.16rem;
    background-color: #F0F7FA;
    padding: 0% 13%;
}
.navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none !important;
}
ul li a {
    text-align: center;
    display: inline-block;
    position: relative;
}
#top li a {
    color: #444444;
}
#top li a:hover {
    text-decoration: none;
    color: #28805E;
}
ul li a:hover:after {
    width: 100%;
    left: 0%;
}
ul li a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background:  #28805E;
    transition: width 1s ease 0s, left 1s ease 0s;
    width: 0;
}
.foot {
     color: #28805E;
}
a {
    text-decoration: none;
}
a:active {
    color: #28805E;
  }
.button1 {
    font-size: 1.8rem;
    height: auto;
    width: auto;
    padding: 0 50px 0 50px;
    color: #28805E;
    border-radius: 0%;
    outline: 0 none;
    margin-bottom: 75px;
}
.button1:hover {
    background-color: #E2E6EA;
}
.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open>.dropdown-toggle.btn-light {
    color: #28805E;
    outline: 0 none;
    box-shadow: none;
}
.button2 {
    color: #28805E;
    border-radius: 0%;
    border-color: #28805E;
    outline: 0 none;
}
#button3 {
    color: #28805E;
    border-radius: 0%;
    border-color: #28805E;
    width: 5rem;
    font-size: 1rem;
    outline: 0 none;
}
.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active, .btn-outline-success.active, .open>.dropdown-toggle.btn-outline-success {
    background-color: #28805E;
    color: #fff;
    outline: 0 none;
    box-shadow: none;
}
input, textarea {
    height: 50px;
    width: 100%;
    /* border: 2px solid #3E9C87; */
    border-radius: 4px;
    margin: 8px 0;
    padding: 6px;
    outline: none;
    /* box-sizing: border-box; */
    transition: .3s;
}
textarea {
    height: 150px;
}
input:focus, textarea:focus {
    border-color: #3E9C87;
    box-shadow: 0 0 8px 0 #3E9C87;
}
input[type=submit] {
    background-color: #3E9C87;
    color: white;
}
input[type=submit]:hover, textarea:hover {
    border-color: #3E9C87;
    box-shadow: 0 6px 8px #3E9C87;
}
/* form {
    width: 90%;
    left: 5%;
    margin: 0 auto;
    display: flex;
} */
.card-title {
    font-family: 'Lora', serif;
}
.gallery1 .card {
    box-shadow: 0 2px 5px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.16);
    margin-bottom: 15px;
}
.gallery1 .card:hover {
    box-shadow: 0 8px 15px rgba(0,0,0,0.13), 0 6px 6px rgba(0,0,0,0.15);
    margin-bottom: 15px;
}
.overlay {
    /* padding: 35% 0 0 35%; */
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: white;
  }
  .image1 {
      position: relative;
  }
  .image1 img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 30px rgba(0,0,0,0.13), 0 0 6px rgba(0,0,0,0.15);
  }
  .gallery1 .card:hover .overlay {
    opacity: 0.8;
  }
.vl {
    margin-top: 10px;
    margin-left: 11px;
    border-left: 1px solid #28805E;
    height: 150px;
}
.hc {
    margin-top: 10px;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    border: 2px solid #28805E;
}
.fc {
    margin-top: 10px;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background-color: #28805E;
}
.expcard .card{
    margin-top: 50px;
    /* box-shadow: 3px 3px 3px rgba(0,0,0,0.1); */
    box-shadow: 0 2px 5px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.16);
}
.expcard .card:hover{
    margin-top: 50px;
    /* box-shadow: 9px 9px 9px rgba(0,0,0,0.2); */
    box-shadow: 0 8px 15px rgba(0,0,0,0.13), 0 6px 6px rgba(0,0,0,0.15);
}

@media screen and (max-height: 300px) {
ul {
        margin-top: 40px;
}
